<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Culinary Competition Scoresheets</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6 col-md-offset-3'>
                    <div class='well'>
                        <h3 class='welcome-msg'>Welcome to the culinary competition score sheet home page. This is where you can enter your account and see competitions.</h3>
                    </div>
                    <!-- link to Sign up page, should be accopanied with a log_in page --> 
                    <%= link_to 'Sign up', new_user_path, class: 'btn btn-default btn-primary btn-block btn-lg' %>
                    <p class='text-center'>Already a user?</p>
                    <%= link_to 'Log in', '#', class: 'btn btn-default btn-primary btn-block btn-lg' %>
                </div>   
            </div>
        </div>
    </body>
</html>